pipeline/Interactions_Expanded.json
{
	"name": "Interactions_Expanded",
	"properties": {
		"activities": [
			{
				"name": "Copy To Blob",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "GetInteractionsJsonAsBinary_2",
						"type": "DatasetReference",
						"parameters": {
							"URL": {
								"value": "@concat('/odata/Interactions?$expand=Contact&$filter=StartDateTime%20ge%20', subtractFromTime(utcnow(), 300, 'Day'))",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SaveODataInteractionsAsBinary",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Prep Data",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Copy To Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "HttpTrigger1",
					"method": "POST",
					"body": {
						"name": "interactions.json"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Save Interaction",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Prep Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "scODataSaveInteraction_copy1",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Process Next Page",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Save Interaction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "GetInteractionsJsonAsBinary_2",
						"type": "DatasetReference",
						"parameters": {
							"URL": {
								"value": "@activity('Prep Data').output.Response",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SaveODataInteractionsAsBinary",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Prep Data 2",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Process Next Page",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "HttpTrigger1",
					"method": "POST",
					"body": {
						"name": "interactions.json"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Save Interaction  2",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Prep Data 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "scODataSaveInteraction_copy1",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-03-10T04:01:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}